body {
    background: url("img/pexel.jpg");
    background-size: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

h1 {
    color: white;
}

img {
    width: 500px;
    height: 500px;
}